<div class="mt-4">
    <h3>Khóa học Của Tôi</h3>   
    <table class="table">
        <thead>
            <tr>
            <th scope="col">#</th>
            <th scope="col">Tên khóa học</th>
            <th scope="col">Trình độ  </th>
            <th scope="col" colspan ="2">Thời gian tạo</th>
            </tr>
        </thead>
        <tbody> 
            {{#each courses}}
            <tr>
            <th scope="row">{{sum @index 1}}</th>
            <td>{{this.name}}</td>
            <td>{{this.level}}</td>
            <td>{{this.createdAt}}</td>
             <td>
                 <a class = "btn btn-link ml-2" href = "courses/{{this._id}}/edit">Sửa</a>
                  <a class = "btn btn-link ml-2" href="">Xóa</a>
             </td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>